<script>
  	import { fade } from 'svelte/transition';

  let choreText = "";
  let list = [];
  function addToList() {
    if (choreText == "") {
      console.log("Write Something First! -> " + choreText);
      alert("Write Something First!" + choreText);
    } else {
      let found = false;
      for (let i = 0; i < list.length; i++) {
        if (choreText == list.at(i).text) {
          found = true;
          console.log(found + ": " + choreText + " == " + list.at(i).text);
        }
      }
      if (!found) {
        list = [...list, { text: choreText, checked: false, id: choreText }];
        console.log(
          "Text: " + list.at(list.length - 1).text +
          " - ID: " + list.at(list.length - 1).id +
          " [Checked: " + list.at(list.length - 1).checked + "]"
        );
        /*
          var i = 0;
          for (i = 0; i < list.length; i++) {
        console.log(list.at(i).text);
      }*/
        choreText = "";
      } else {
        console.log("Add different Chore! -> " + choreText);
        alert("Add different Chore!" + choreText);
      }
    }
    choreText = "";
  }

  let submit = false;
  const handleSubmit = () => {
    submit = true;
  };
  const handleKeyup = () => {
    submit = false;
  };
  /*function deleteChore(index) {
    //Delete chore from list when clicked
    list.splice(index, 1);
    list = list;
  }*/
  let idMarked;
  function completeChore(index) {
    //Mark completed chores
    idMarked = list.at(index).id;
    list.at(index).checked = !list.at(index).checked;
    if (!list.at(index).checked) {
      document.getElementById(idMarked).classList.remove("checked");
    } else {
      document.getElementById(idMarked).classList.add("checked");
    }
    console.log(list.at(index).checked);
  }
</script>

<main>
  <h1>Welcome to my To-Do List!</h1>
  <form on:submit|preventDefault={handleSubmit}>
    <input
      bind:value={choreText}
      type="text"
      on:keyup|preventDefault={handleKeyup}
    />
    <button on:click={addToList} type="submit">Add To List</button>
  </form>
  <div>
    <hr />
    <!--  [FOREACH]  -->
    {#each list as chore, index}
      {#if list.length != 0}
        <li
          class="chore"
          on:click={() => completeChore(index)}
          id={list.at(index).id}
        >
          {list.at(index).text}
        </li>
        <hr />
      {/if}
    {/each}
    <!--  [FOREACH]  -->
  </div>
</main>

<style>
  main {
    background-color: #fff;
    /* text-align: center;*/
    padding: 1em;
    margin: 0 auto;
  }

  h1 {
    /*color: #ff3e00;*/
    text-transform: uppercase;
    text-align: center;
    margin-top: -2vh;
    font-size: 4em;
    font-weight: 300;
  }
  li {
    padding-left: 10em;
    font-size: x-large;
  }
  form {
    text-align: center;
    margin: 5%;
  }
  div {
    margin: auto;
    width: 80%;
    background-color: rgb(255, 246, 182);
  }
  .chore:hover {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.7);
  }
  :global(.checked) {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.4);
  }
</style>
